.product-item-2 {
    .color1-f-s-10 {
        color: var(--theme-orange);
        font-size: 10px;
        font-family: 'poppins';
        margin: 10px 0px;
    }
    .color-f-s-10 {
        color: var(--theme-orange);
        font-size: 10px;
        font-family: 'poppins';
    }
    .l-20 {
        left: -20px;
    }
}