.h-32{
    height: 32px;
}
.mat-hover{
    ::ng-deep {
        .mat-button-ripple.mat-ripple, .mat-button-focus-overlay { 
            top: -10px !important;
            border-radius: 23px !important;
        }
    }
}