.mat-content {
    display: block;
    position: relative;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    margin: auto;
    padding: 20px 15px 0px 15px;
}
@media screen and (max-width: 599px) {
    .forgotPassword {
        button {
            width: 100%;
            margin-bottom: 10px !important;
        }
    }
}

.forgetPasswordOptions {
    display: flex;
    margin-bottom: 25px;

    .ds-radio {
        display: flex;
        align-items: center;
        margin-bottom: 0;
    }

    .ds-radio__button {
        top: unset;
    }

    .fieldBox {
        width: 100%;
        margin-bottom: 0;
    }
}

.account_recovery {

    &_msg_1 {
        font-size: 15px;
    }

    &_msg_2 {
        font-weight: 700;
    }
}

.container {
    .titleHeader {
        padding: 24px 0px 16px 0px;
    }
    .color-f-s-16 {
        font-size: 16px;
        font-family: 'poppins', sans-serif;
        font-style: sans-serif;
        text-align: justify;
    }
    .resetButton .mat-button {
        color: var(--theme-deafult);
        font-size: 14px;
        background-color: var(--theme-main-blue);
        margin: 5px 0px 15px 0px;
        padding: 0px 6px;
    }
    @media only screen and (max-width: 600px) {
        .resetButton .mat-button {
            width: 100%;
            margin-bottom: 10px!important;
        }
    }
   
}