<!-- start -->
<div fxFlex="100" fxLayout="column" fxLayoutAlign="center center"
  class="home-class">
  <div
    fxFlex="90"
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">
    <video src="https://e-commercesite-admin.s3.amazonaws.com/video_ZenYGE.mp4" type="video/mp4"
      autoplay [muted]="true" loop playsinline class="start-vid"
      class="width-100">
    </video>
  </div>
  <div fxFlex="100" class="p-t-75">
    <!-- divider lt-lg less 950 gt-md abv 950 -->
  </div>
  <div
    fxFlex="80"
    fxLayout.gt-md="row"
    fxLayout.lt-lg="column"
    fxLayoutAlign="center center"
    fxLayoutGap="50px">
    <div
      fxFlex="40"
      fxLayout="row"
      fxLayoutAlign="end center"
      class="pos-relative">
      <img
        src="../../../../assets/images/img/electric-car_image.png"
        class="width-100 obj-fit-contain"
        alt="energy"
        />
      <button
        class="label-buttons">
        <b class="f-s-20">ENERGY</b>
      </button>
    </div>
    <div
      fxFlex="40"
      fxLayout="row"
      fxLayoutAlign="start center"
      class="pos-relative">
      <img
        src="../../../../assets/images/img/restaurant_image.jpg"
        class="width-100 obj-fit-contain"
        alt="restaurant"
        />
      <button class="label-buttons">
        <b class="f-s-20">RESTAURANT SERVICES</b>
      </button>
    </div>
  </div>
  <div fxFlex="100" class="p-t-55" fxHide fxShow.gt-md>
    <!-- divider lt-lg less 950 gt-md abv 950 -->
  </div>
  <div
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="50px">
    <div
      fxFlex="100"
      fxLayout="row"
      fxLayoutAlign="end center"
      class="pos-relative">
      <img
        src="../../../../assets/images/img/ev-banner_1366x768.png"
        class="obj-fit-contain width-100"
        />
      <p class="ev">
        <b class="ev-revolution">The
          EV Revolution is HERE.</b>
      </p>
      <div
        class="solar-cover">
        <p>
          <b class="solar-ev">EV CHARGING
            STATION, SOLAR PROVIDER, AND HYDROGEN ENERGY
            PROVIDER.</b>
        </p>
      </div>
      <div
        class="solar-final">
        <p class="f-s-21">
          We provide the hardware and the installation of your EV charging
          device. You provide the location and approval for the connection.
        </p>
      </div>
    </div>
  </div>
  <div
    fxFlex="100"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="50px">
    <div
      fxFlex="100"
      fxLayout="row"
      fxLayoutAlign="end center"
      class="pos-relative">
      <img
        src="../../../../assets/images/img/restaurant-banner_1366x768.png"
        class="obj-fit-contain width-100"
        />
      <p
        class="del-start">
        <b class="delivery-text">Tired
          of PAYING HIGH delivery fees?</b>
      </p>
      <div
        class="del-mid">
        <p>
          <b class="f-s-21 c-white">WE'RE HERE TO
            DISRUPT AN INDUSTRY THAT HAS TAKEN ADVANTAGE OF
            RESTAURANTS FOR TOO LONG.</b>
        </p>
      </div>
      <div
        class="del-end">
        <p class="f-s-21">
          Let us help you save l0's of thousands of dollars each year on your
          operating costs without making any changes to your day to day
          operations.
        </p>
      </div>
    </div>
  </div>
</div>
