.container1
{
    width: 100% !important;
    margin: 0 auto !important;
    padding: 0!important;
    background-color: var(--theme-deafult-grey) !important;
}
.swiper_h1
{
    margin: 0 auto !important;
    max-width: fit-content !important;
    color: var(--theme-deafult) !important;
}
.swiper_h3
{
    margin: 0 auto !important;
    max-width: fit-content !important;
    color: var(--theme-deafult) !important;
    margin-bottom: 30px !important;
}